@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body {
    font-family: 'Poppins', sans-serif;
}

.card.shadow-sm {
  transition: none;
  cursor: default;
}

.row.g-3 .card:hover {
  border-color: #ff4d1c;
}

.card {
  transition: border-color 0.2s;
  cursor: pointer;
}

.form-check-input:checked {
  background-color: #ff4d1c;
  border-color: #ff4d1c;
}

.form-check-input:focus {
  border-color: #ff4d1c;
  box-shadow: 0 0 0 0.25rem rgba(255, 77, 28, 0.25);
}

.form-control:focus {
    border-color: #fd7e14;
    box-shadow: 0 0 0 0.25rem rgba(253, 126, 20, 0.25);
}

.form-select:focus {
    border-color: #fd7e14;
    box-shadow: 0 0 0 0.25rem rgba(253, 126, 20, 0.25);
}

.is-invalid {
    border-color: #dc3545 !important;
}

.invalid-feedback {
    display: flex !important;
    align-items: center;
}

.invalid-icon {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 16px;
    height: 16px;
    background-color: #dc3545;
    color: white;
    border-radius: 50%;
    margin-right: 5px;
    font-size: 10px;
    font-weight: bold;
}

.btn-back {
    color: #ffffff;
    text-decoration: none;
    display: inline-flex;
    align-items: center;
}

.btn-back:hover {
    color: #343a40;
}

/* Estilização do switch */
.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ffffff;
    transition: .4s;
    border-radius: 34px;
}

.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    transition: .4s;
    border-radius: 50%;
}

input:checked + .slider {
    background-color: #2196F3;
}

input:checked + .slider:before {
    transform: translateX(26px);
}

body.dark-mode {
    background-color: #000000;
    color: #ffffff;
}

body.dark-mode .card {
    background-color: #1e1e1e;
    border-color: #ffffff;
}

body.dark-mode .form-control,
body.dark-mode .form-select {
    background-color: #333;
    color: #fff;
    border-color: #ffffff;
}

body.dark-mode .form-control:focus,
body.dark-mode .form-select:focus {
    border-color: #ffffff;
    box-shadow: 0 0 0 0.25rem rgba(255, 255, 255, 0.25);
}

body.dark-mode .btn-back {
    color: #ffffff;
}

body.dark-mode .btn-back:hover {
    color: #fff;
}

/* Adicione este bloco para garantir que os rótulos dos campos de formulário fiquem brancos no modo escuro */
body.dark-mode .form-label,
body.dark-mode h1,
body.dark-mode h2,
body.dark-mode p,
body.dark-mode .form-check-label,
body.dark-mode .form-check-input {
    color: #ffffff;
}